body {
		margin: 0;
		padding: 0;
		font-size: 16px;
		background-color: rgba(205, 92, 0, 0.05);
}

.contenedor {
	max-width: 1200px;
	margin:2% auto 5%;
	padding: 20px;
	}

figure {
	flex:1 1 100%;
	max-width: 100%;
	}

.slideshow-container {
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.slideshow{
	display: flex;
	width: 100%;
	height: 300px;
	animation: slideShow 10s infinite;

}

.slideshow img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@keyframes slideShow {
	0% {transform: translateX(0);}
	33.33% {transform: translateX(-100%);}
	66.66% {transform: translateX(-200%);}
	100% {transform: translateX(0);}
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 300px; /* Ajusta según sea necesario */
}

.carousel-wrapper {
  display: flex;
  animation: slideShow 9s infinite;
}

.carousel img {
  width: 100%; /* Asegura que las imágenes se ajusten al ancho del contenedor */
  height: auto; /* Mantiene la proporción de las imágenes */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsión */
  margin-right: 20px; /* Espacio entre imágenes */
}

@keyframes slideShow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}



h1{
	color: rgb(205, 92, 0);
	font-family: 'Georgia', serif;
	text-align: center;
	font-size: 2rem;
}

p{
	color: black;
	font-family: 'Verdana',sans-serif;
	text-align: justify;
	font-size: 1rem;
}
.centrado {
	text-align: center;
}
h2,h3{
	color:rgb(205, 92, 0);
	font-family: 'Georgia', serif;
}

.galeria {
	display: flex;
	gap:10px;
	flex-wrap: wrap;
	justify-content: center;
}
figure {
	margin: 0;
	padding: 0;
	flex: 1 1 calc(33.333% - 20px);
	max-width: calc(33.333% - 20px);
	box-sizing: border-box;
	text-align: center;
}
.responsive-img {
	max-width: 100%;
	height: auto;
	margin:0 auto;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
